html, body {
  height: 100%;
  background-color: #545454;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-content {
  .row {
    justify-content: center;

    mat-form-field {
      margin: 5px;
    }
  }
}

@media only screen and (max-width: 740px) {
  .custom-dialog-content {
    .row {
      mat-form-field {
        width: 100%;
      }
    }
  }
}
